.vscode/
tramites/
becas/
sistemas_operativos/lab/lab1/so25lab1g15/
sistemas_operativos/notes/tp/ostep-code/
sistemas_operativos/tp/ostep-code/
sistemas_operativos/lab/lab2/so25lab2g15/
sistemas_operativos/lab/lab2/so25lab2g15_juli/
sistemas_operativos/lab/lab3/so25lab3g15/
sistemas_operativos/lab/so25lab3g15_with_all_branches/
sistemas_operativos/lab/lab2/so25lab2g15_fix_last/
matematica_discreta_2/practicos/verano_2026/discreta_2_sol.pdf
paradigmas/labs_exp/lab1/kickstart/
paradigmas/verano_2026/labs_exp/lab1/paradigmas-lab-1/
paradigmas/laboratorio/lab1/paradigmas26-lab1-g24
