tramites/
becas/
sistemas_operativos/lab/lab1/so25lab1g15/
sistemas_operativos/notes/tp/ostep-code/
sistemas_operativos/tp/ostep-code/
sistemas_operativos/lab/lab2/so25lab2g15
sistemas_operativos/lab/lab2/so25lab2g15_juli
sistemas_operativos/lab/lab3/so25lab3g15/

